@tailwind base;
@tailwind components;
@tailwind utilities;


/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 10px solid black;
  padding: 0.25rem;
  margin-bottom: 1rem;
}

.nav-items > ul {
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  margin: 1rem;
}
.logo {
  width: 08rem;
}

.card {
  width: 20rem;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}



 */
 .shimmerCard{
  width: 250px;
  border: 1px solid black;
  height: 400px;
  background: lightgray;
  margin: 10px;
}
.restaurantlist {
  display: flex;
  flex-wrap: wrap;
}